{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        <span class="icon">{{ include('@phpFastCache/data_collector/icon.svg') }}</span>
        <span class="sf-toolbar-value">{{ collector.size|sizeFormat(1) }}</span>
    {% endset %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig') }}
{% endblock %}

{% block menu %}
    <span class="label">
        <span class="icon">{{ include('@phpFastCache/data_collector/icon.svg') }}</span>
        <strong>PhpFastCache</strong>
    </span>
{% endblock %}

{% block panel %}
    <div class="sf-tabs">
        {% for name, cache in collector.caches %}
            <div class="tab">
                <h3 class="tab-title">{{ name }}</h3>
                <div class="tab-content">
                    <table class="{{ class|default('') }}">
                        <tbody>
                            <tr>
                                <th>Info</th>
                                <td>{{ cache.stats.info }}</td>
                            </tr>
                            <tr>
                                <th>Size</th>
                                <td>{{ cache.stats.size|sizeFormat(1) }}</td>
                            </tr>
                            <tr>
                                <th>Data</th>
                                <td>{{ cache.stats.data }}</td>
                            </tr>
                            <tr>
                                <th>RawData</th>
                                <td>{{ dump(cache.stats.rawData) }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}