{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        <span class="icon">{{ include('@phpFastCache/data_collector/icon.svg') }}</span>
        <span class="sf-toolbar-value">{{ collector.size|sizeFormat(1) }}</span>
    {% endset %}

    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b>Cache instances</b>
            <span>{{ collector.stats|length }}</span>
        </div>
    {% endset %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig') }}
{% endblock %}

{% block menu %}
    <span class="label">
        <span class="icon">{{ include('@phpFastCache/data_collector/icon.svg') }}</span>
        <strong>PhpFastCache</strong>
    </span>
{% endblock %}

{% block panel %}
    <div class="sf-tabs">
        {% for name, stat in collector.stats %}
            <div class="tab">
                <h3 class="tab-title">{{ name }}</h3>
                <div class="tab-content">
                    <table class="{{ class|default('') }}">
                        <tbody>
                            <tr>
                                <th>Info</th>
                                <td>{{ stat.info }}</td>
                            </tr>
                            <tr>
                                <th>Size</th>
                                <td>{{ stat.size|sizeFormat(1) }}</td>
                            </tr>
                            <tr>
                                <th>Data</th>
                                <td>{{ stat.data }}</td>
                            </tr>
                            <tr>
                                <th>RawData</th>
                                <td>{{ dump(stat.rawData) }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}