{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        <span class="icon">{{ include('@phpFastCache/data_collector/icon.svg') }}</span>
        <span class="sf-toolbar-value">{{ collector.size|sizeFormat(1) }}</span>
    {% endset %}

    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b>Cache instances</b>
            <span class="sf-toolbar-status">{{ collector.stats|length }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Cache Size</b>
            <span class="sf-toolbar-status">{{ collector.size|sizeFormat(1) }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Read hits</b>
            <span class="sf-toolbar-status">{{ collector.hits.read }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Write hits</b>
            <span class="sf-toolbar-status">{{ collector.hits.write }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Cache Driver</b>
            {% if collector.driverUsed|length == 0 %}
                <span>None</span>
            {% elseif collector.driverUsed|length == 1 %}
                <span><abbr title="{{ collector.driverUsed|first }}">{{ collector.driverUsed|keys|first }}</abbr></span>
            {% else %}
                <span>Multiple ({{ collector.driverUsed|length }})</span>
            {% endif %}
        </div>

    {% endset %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig') }}
{% endblock %}

{% block menu %}
    <span class="label">
        <span class="icon">{{ include('@phpFastCache/data_collector/icon.svg') }}</span>
        <strong>PhpFastCache</strong>
        <span class="count">
            <span>{{ collector.stats|length }}</span>
        </span>
    </span>
{% endblock %}

{% block panel %}
    <h2>PhpFastCache Metrics</h2>

    <div class="metrics">
        <div class="metric">
            <span class="value"> {{ collector.size|sizeFormat(1) }}</span>
            <span class="label">Total Size</span>
        </div>
        <div class="metric">
            <span class="value"> {{ collector.stats|length }}</span>
            <span class="label">Cache Instances</span>
        </div>
        <div class="metric">
            <span class="value"> {{ collector.driverUsed|length  }}</span>
            <span class="label">Drivers used</span>
        </div>
        <div class="metric">
            <span class="value"> {{ collector.hits.read  }}</span>
            <span class="label">Read hits</span>
        </div>
        <div class="metric">
            <span class="value"> {{ collector.hits.write  }}</span>
            <span class="label">Write hits</span>
        </div>
    </div>

    <h2>PhpFastCache Cache Instance</h2>
    <div class="sf-tabs">
        {% for name, stat in collector.stats %}
            <div class="tab">
                <h3 class="tab-title">{{ name }}</h3>
                <div class="tab-content">
                    <table class="{{ class|default('') }}">
                        <tbody>
                        <tr>
                            <th>Driver Name</th>
                            <td><strong>{{ collector.instances[name].driverName }}</strong> (<small><code>{{ collector.driverUsed[collector.instances[name].driverName] }}</code></small>)</td>
                        </tr>
                        <tr>
                            <th>Driver Info</th>
                            <td>{{ stat.info|nl2br }}</td>
                        </tr>
                        <tr>
                            <th>Driver Size</th>
                            <td>{{ stat.size|sizeFormat(1) }}</td>
                        </tr>
                        <tr>
                            <th>Driver Data</th>
                            <td>{{ stat.data }}</td>
                        </tr>
                        <tr>
                            <th>Driver RawData</th>
                            <td>{{ dump(stat.rawData) }}</td>
                        </tr>
                        <tr>
                            <th>Driver Config</th>
                            <td>{{ dump(collector.instances[name].driverConfig) }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}